    #page {
background-color: #1c1c1c; /* Dark Grey or Black */
color: #ffffff; /* White for text */
    
}

#header {
    background-color: #8a2be2; /* Electric Purple */
}
#header a {
    color: #ffffff; 
       
}



